@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-sans: var(--ff-poppins);

  --text-h1: 2.22rem; /* ~40px */
  --text-h1--line-height: 1.4;
  --text-h2: 1.77rem; /* ~32px */
  --text-h2--line-height: 1.2;
  --text-h3: 1.33rem; /* ~24px */
  --text-h3--line-height: auto;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --animate-slide-down: slide-down 0.25s ease-out;
  --animate-slide-up: slide-up 0.25s ease-out;
  --animate-shimmering: shimmering 0.02s forwards infinite ease-in-out;
  --animate-shake: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  --animate-fade-in: fadein 0.5s ease-in-out;
  --animate-fade-out: fadein 0.5s ease-in-out reverse;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes shimmering {
    from {
      backgroundposition: 'top right';
    }
    to {
      backgroundposition: 'top left';
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @keyframes slide-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes slide-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --spacing-full-safe: calc(100svh - var(--header-height));
  --spacing-fill: fill-available;
  --spacing-webkit-fill: -webkit-fill-available;
  --spacing-moz-fill: -moz-available;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-600: var(--primary-600);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-primary-light: var(--primary-light);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --fs-sm: 12px;
  --fs-base: 16px;
  --fs-lg: 20px;
  --fs-xl: 24px;

  --primary: oklch(75.356% 0.16361 50.386);
  --primary-foreground: oklch(0.9711 0.016274 57.3586);
  --primary-600: oklch(79.606% 0.13246 52.411);
  --primary-500: oklch(84.293% 0.09888 53.444);
  --primary-400: oklch(89.291% 0.06555 54.756);
  --primary-300: oklch(94.556% 0.03215 55.252);

  --secondary: oklch(45.953% 0.08443 221.239);
  --secondary-light: oklch(0.9322 0.0139 219.62);
  --secondary-foreground: oklch(90.043% 0.02197 218.844);
  --secondary-600: oklch(55.04% 0.0894 217.612);
  --secondary-500: oklch(64.106% 0.08936 215.941);
  --secondary-400: oklch(72.778% 0.08641 215.181);
  --secondary-300: oklch(81.644% 0.08205 214.82);

  --accent: oklch(96.826% 0.00696 248.26);
  --accent-foreground: oklch(20.768% 0.03985 265.767);

  --background: oklch(98.07% 0.00523 248.366);
  --foreground: oklch(0.3076 0.0287 281.37);

  --muted: oklch(0.9703 0 0);
  --muted-foreground: oklch(0.5555 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3076 0.0287 281.37);

  --card: oklch(0.9696 0 0);
  --card-foreground: oklch(0.1445 0 0);

  --destructive: oklch(63.681% 0.20784 25.315);
  --destructive-foreground: oklch(98.511% 0.00011 271.152);
  --border: oklch(92.573% 0.01273 255.643);
  --input: oklch(92.876% 0.01272 255.643);
  --ring: oklch(45.953% 0.08443 221.239);

  --radius: 0.5rem;

  --sidebar: oklch(100% 0.00011 271.152);
  --sidebar-foreground: oklch(20.768% 0.03985 265.767);
  --sidebar-primary: oklch(45.953% 0.08443 221.239);
  --sidebar-primary-foreground: oklch(96.941% 0.01515 12.013);
  --sidebar-accent: oklch(96.826% 0.00696 248.26);
  --sidebar-accent-foreground: oklch(20.768% 0.03985 265.767);
  --sidebar-border: oklch(92.758% 0.00592 264.656);
  --sidebar-ring: oklch(45.953% 0.08443 221.239);

  --chart-1: oklch(67.671% 0.15715 35.076);
  --chart-2: oklch(63.075% 0.10093 183.889);
  --chart-3: oklch(37.899% 0.04379 226.199);
  --chart-4: oklch(83.297% 0.11844 88.35);
  --chart-5: oklch(78.425% 0.12556 58.98);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility font-h1 {
  font-family: var(--ff-poppins);
  color: var(--color-primary);
  font-size: var(--fs-xl);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-tight);
}

@utility font-h2 {
  font-family: var(--ff-poppins);
  color: var(--color-primary);
  font-size: var(--fs-lg);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-tight);
}

@utility font-h3 {
  font-family: var(--ff-poppins);
  color: var(--color-foreground);
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-tight);
}

@utility font-default {
  font-family: var(--ff-poppins);
  font-size: var(--fs-base);
  font-weight: var(--font-weight-normal);
  color: var(--color-foreground);
}
